.bg-lightblue {
  background: #e0f0ff;
}

.bg-lightpurple {
  background: #f1e4ff;
}

.bg-lightyellow {
  background: #fff8dc;
}

.bg-lightred {
  background: #ffe8e8;
}

.text-purple {
  color: #a855f7;
}
